.jumbotron{
  margin-bottom: 0px;
  height: 100vh;
  padding: 0px !important;
  text-align: center;
  margin: 0px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.jumbo1{
  background-image: url(https://images.pexels.com/photos/257352/pexels-photo-257352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.jumbo2{
  background-image: url(https://images.unsplash.com/photo-1447958272669-9c562446304f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1760&q=80);
}
.jumbo3{
  background-image: url(https://images.pexels.com/photos/36363/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.Yosemite{
  font-family: lobster;
}
.Grand{
  font-family: Ephesis;
}
.navbar-nav{
  padding: 0px !important;
}
.row{
  margin: 0px !important;
  padding: 0px !important;
}
.container-fluid{
  padding: 0px;
}